# OSX
#
.DS_Store
._*
# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
gradle-app.setting
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# other
src/bower_components
log/*
log-yio/*
public/
instances/config.js
instances/*.pem
*.keystore
/android/app/src/main/res/drawable/yw_1222.jpg
index.android.bundle*
drivers/yunio/log/*
drivers/yioMServices/log/*
package-lock.json
test-mocha/app/output/
*.sublime-*
dump.rdb